@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* font-family: 'Montserrat', sans-serif; */


/* Scrollbar */

::-webkit-scrollbar {
    width: 0;
}


/* Scrollbar Ends*/

:root {
    --primary-color: #000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: white;
    height: 72px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px white solid;
}

.navbar .flex {
    justify-content: space-between;
}


/* Navbar Ends */


/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    justify-self: flex-end;
    z-index: 3;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0px;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -65px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
}


/* Showcase Ends */


/* Stats */

.stats {
    margin-top: 100px;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid .h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}


/* Stats End */


/* CLI */

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid>*:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


/* CLI Ends */


/* Cloud */

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}


/* Cloud Ends */


/* Languages */

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}


/* Languages End */


/* Features */

.features-head img {
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main .card>i {
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;
}

.features-main .grid>*:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid>*:nth-child(2) {
    grid-column: 1 / span 2;
}


/* Features End */


/* Footer */

.footer .container a {
    color: white;
}

.footer .social a {
    margin: 0 10px;
}

.social a:hover {
    color: #002240;
}

.footer nav a:hover {
    border-bottom: 2px white solid;
}


/* Footer Ends */


/* Sections */

#stats,
#languages,
#features-sub-head {
    color: black;
}

#cloud,
#footer,
#features {
    background-color: black;
}


/* Sections End*/


/* Tablet and Under */

@media only screen and (max-width: 768px) {
    .navbar {
        height: 110px;
    }
    .navbar ul {
        padding: 10px;
    }
    .showcase {
        height: auto;
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }
    .showcase-form {
        justify-self: center;
        margin: auto;
    }
    /* Utilities */
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
    }
    /* Features */
    .features-head img,
    .features-sub-head img {
        justify-self: center;
    }
    .features-main .grid>* {
        grid-column: 1 / span 3;
    }
}


/* Features Ends*/


/* Tablet and Under End */


/* Mobiles */

@media only screen and (max-width: 576px) {
    .navbar {
        height: 110px;
    }
    .navbar .flex {
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
    .navbar ul {
        font-size: 15px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .showcase-form {
        padding: 20px;
        width: 280px;
    }
    .cli .grid>*:first-child {
        grid-column: 1;
        grid-row: 1;
    }
}

.footer {
    text-align: center;
}

@media (max-width:380px) {
    .navbar nav {
        display: none;
    }
    .navbar .flex {
        padding: 0 20px;
        flex-direction: row;
    }
    .menu {
        background-color: black;
        padding-right: 20px;
    }
    .hamburger {
        position: relative;
        appearance: none;
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    .hamburger.is-active::before {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .hamburger.is-active::after {
        transform: rotate(45deg) translate(-6px, -6px);
    }
    .hamburger.is-active .bar {
        opacity: 0;
    }
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        display: block;
        background-color: black;
        margin-top: 110px;
        transition: 0.4s;
    }
    .mobile-nav a {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        color: white;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .mobile-nav a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .mobile-nav.is-active {
        left: 0;
    }
}


/* Not showing hamburger above 320px */

@media (min-width:380px) {
    .hamburger,
    .mobile-nav {
        display: none;
    }
}


/* Moblies End */